{% load static %}
<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width= device-width, initial-scale=1.0">
  <title>{% block title %} {% endblock title %}</title>
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
  <link href="{% static 'bi/bootstrap-icons.css' %}" rel="stylesheet" />
  <style>
    .bg-cone {
      background-color: #FFD500 !important;
    }

    .bg-cube {
      background-color: #D489FF !important;
    }

    .bg-auto {
      background-color: #6AFF5D !important;
    }

    .bg-tele {
      background-color: #5DEBFF !important;
    }

    .text-trans {
      color: transparent !important;
    }
  </style>
</head>
<body>
    {% block nav %} {% endblock nav %}
    {% block container %} {% endblock container %}
    <script src="{% static 'js/bootstrap.js' %}"></script>
    {% block script %} {% endblock script %}
</body>
</html>